<app-menu-title></app-menu-title>
<div class="container__articles">
  <div class="articles__main">
    <app-big-card
      id="1"
      photoCover="https://store-images.s-microsoft.com/image/apps.33165.13634801356032741.ab397458-88b6-4d40-a741-1bcbaf30df54.fdcbdf7c-5e86-420b-8302-420d753b5a32?q=90&w=480&h=270"
      cardTitle="Resident Evil 3 (2020)"
      cardDescription="Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum laborum suscipit possimus alias nostrum omnis repudiandae, nemo iste tenetur. Hic fugit inventore perspiciatis, laborum eum ea ullam impedit eveniet velit."
    ></app-big-card>
  </div>
  <div class="articles__others">
    <app-small-card
      id="2"
      photoCover="https://t.ctcdn.com.br/hDtcsgIqWe5TvaTMw53ze-IPbWE=/1200x675/smart/i706956.jpeg"
      cardTitle="Resident Evil 4 (2023)"
    ></app-small-card>
    <app-small-card
      id="3"
      photoCover="https://c4.wallpaperflare.com/wallpaper/780/420/942/resident-evil-8-village-resident-evil-video-games-chris-redfield-artwork-hd-wallpaper-preview.jpg"
      cardTitle="Resident Evil Village"
    ></app-small-card>
    <app-small-card
      id="4"
      photoCover="https://t2.tudocdn.net/366431?w=1920"
      cardTitle="Resident Evil 2 (2019)"
    ></app-small-card>
  </div>
</div>
